modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 6800

[[ports]]
localPort = 8083
externalPort = 3001

[[ports]]
localPort = 8084
externalPort = 5000

[[ports]]
localPort = 8085
externalPort = 5173

[[ports]]
localPort = 26252
externalPort = 3000

[[ports]]
localPort = 26253
externalPort = 6000

[[ports]]
localPort = 26254
externalPort = 3002

[[ports]]
localPort = 26255
externalPort = 4200

[[ports]]
localPort = 26256
externalPort = 3003

[nix]
channel = "stable-25_05"
packages = ["zip"]

[userenv]

[userenv.shared]
ADMIN_EMAIL = "asimiqbalbaloch505@gmail.com"
ADMIN_PASSWORD = "Asim@39794"
JWT_SECRET = "geekthrifts-jwt-secret-key-2024-xK9mP2nQ"
GMAIL_USER = "geekthriftsstore@gmail.com"
GMAIL_APP_PASSWORD = "vwgeizkenmbuymt"
ADMIN_NOTIFY_EMAIL = "kashifishangi123@gmail.com"
